body {
    /*background-color: white;*/
    background-image: url("Bilder/Afrika/savann1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*font-family: 'Times new Roman';*/
    height: 100%;  
    margin: 0; 
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; /* Centrerar innehållet horisontellt */
    align-items: center; /* Centrerar innehållet vertikalt */
    height: 100px; /* Justera höjden efter behov */
    background-color: #1B4D3E; /*mörkgrön*/
    /*background-color: #556B27;*/ /*olivgrön*/
    padding: 20px;
}

.Navbar .Logo img {
    height: 50px; /* Justera storleken på logotypen */
}

.Logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Perfekt centrerad logga */
    margin-top: 25px;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Lägg till en hover-effekt på förslagen */
}


.search-icon {
    width: 20px;
    margin-left: -30px; /* Flyttar in ikonen i input-fältet */
    cursor: pointer;
}

.child_animals {
    text-align: center; /* Centrerar rubrikerna */
}

.djur-container {
    justify-content: center; /* Centrerar djurbilderna på raden */
    gap: 40px; /* Mellanrum mellan bilderna */
    margin-bottom: 20px; /* Lägger till avstånd mellan djurbilder och nästa rubrik */
    margin-top: 10px;
    flex-wrap: wrap;
    display: inline-block;
    /*grid-template-columns: repeat(5, 115px); *//* Skapar 5 lika stora kolumner */
}

.djur {
    width: 120px;
    height: 120px;
    object-fit: cover; /* Ser till att bilder behåller proportioner */
    border-radius: 20px;
}

.image-container:hover {
    transform: scale(1.05); /* Förstorar bilden med 20% */
    z-index: 10; /* Lyfter bilden över andra element */
}

.image-container {
    display: flex;
    flex-direction: column; /* Säkerställer att texten hamnar under bilden */
    align-items: center;
    text-decoration: none;
    margin-top: 5px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.child_continents {
    display: flex;
    flex-direction: column; /* Staplar djuren vertikalt */
    align-items: center; /* Centrerar bilderna horisontellt */
    gap: 10px; /* Mellanrum mellan djuren */
}

.text-below {
    margin-top: 5px; /* Lägger till lite mellanrum mellan bilden och texten */
    font-size: 18px; /* Justera storleken på texten */
    color: #000000; /* Justera textfärgen, kan vara vad du vill */
}

.main-container {
    display: flex;
    justify-content: space-between; /* Placera elementen på höger och vänster sida */
    align-items: flex-start;
    width: 100%;
}

.container {
    width: 20%; 
    /*background-color: aqua;*/
}

.middle-space {
    width: 60%; 
    background-color: red;
}
