body {
    background-image: url("Bilder/Afrika/savann1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Helvetica';
    height: 100%;  
    margin: 0; 
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    background-color: #1B4D3E; 
    padding: 20px;
}

.Navbar .Logo img {
    height: 50px; 
}

.Logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 25px;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; 
}


.search-icon {
    width: 20px;
    margin-left: -30px; 
    cursor: pointer;
}

.child_animals {
    text-align: center; 
}

.djur-container {
    justify-content: center; 
    gap: 40px; 
    margin-bottom: 20px; 
    margin-top: 10px;
    flex-wrap: wrap;
    display: inline-block;
}

.djur {
    width: 120px;
    height: 120px;
    object-fit: cover; 
    border-radius: 20px;
}

#lejon-container:hover, #buffel-container:hover {
    transform: scale(1.05); 
    z-index: 10; 
}

.image-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    margin-top: 5px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.child_continents {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

.text-below {
    margin-top: 5px; 
    font-size: 18px; 
    color: #000000; 
}

.main-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
}

.container {
    width: 20%; 
    
}

.middle-space {
    width: 60%; 
    background-color: red;
}


#tillbaka-pil {
    width: 20px;
    transform: translateY(2.5px);
}

.back {
    color: white;
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.back-container {
    position: relative;
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: auto;
}