body {
    /*background-color: white;*/
    /*background-color: #F8F1D3;*/
    background-color: #EDE1C7;
    
    height: 100%;  
    margin: 0; 
    font-family: helvetica;
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    /*background-color: #1B4D3E; */
    /*background-color: #3A5F41;*/
    background-color: #2F4F3A;
    /*background-color: #355A3A;*/
    padding: 20px;
}

.Navbar .Logo img {
    height: 80px; 
}

.Logo img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 15px;
    width: auto;
    height: 100px;
    object-fit: contain;
    display: block;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; 
}


.search-icon {
    width: 20px;
    margin-left: -30px; 
    cursor: pointer;
}

#tillbaka-pil {
    width: 20px;
    transform: translateY(2.5px);
}

.back {
    color: white;
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.back-container {
    position: relative;
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: auto;
}

.main-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.container {
    flex: 1; 
    max-width: 50%; 
    box-sizing: border-box; 
    padding: 50px; 
}

.bilder {
    /*align-items: center;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

figure {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locked {
    color: gray;
    cursor: default;
    opacity: 0.6;
}

#lion_paw {
    width: 35px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

#vapen_lejon {
    width: 200px;
}

.container-quiz{
    max-width: 60%;
    margin: 0 auto;
}

fieldset {
    background-color: #F5EBD7;
}

#svara {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #2F4F3A;
    border-color: black;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 0 3px;
    float: right;
}

#svara:hover {
    background-color: #406d50;
    background-color: #1c2e22;
}

.question {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.answer {
    margin-bottom: 20px;
    transform: scale(1.5);
    top: -3px;
    position: relative
}

legend {
    font-size: 18px;
}

.svar {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}




#popup-confirm,
#popup-alert,
#popup-done {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup-inner {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.popup-inner button {
    margin: 15px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#confirm-yes {
    background-color: #2F4F3A;
    color: white;
}

#confirm-no {
    background-color: #8B1A1A;
    color: rgb(255, 255, 255);
}

#ok {
    background-color: #EDE1C7;
    color: rgb(0, 0, 0);
}

#go-africa {
    background-color: #EDE1C7;
    color: rgb(0, 0, 0);
}

#stay-lion {
    background-color: #EDE1C7;
    color: rgb(0, 0, 0);
}

#go-buffalo {
    background-color: #EDE1C7;
    color: rgb(0, 0, 0);
}