body {
    background-color: white;
    height: 100%;  
    margin: 0; 
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    /*background-color: #1B4D3E; */
    /*background-color: #3A5F41;*/
    background-color: #2F4F3A;
    /*background-color: #355A3A;*/
    padding: 20px;
}

.Navbar .Logo img {
    height: 80px; 
}

.Logo img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 15px;
    width: auto;
    height: 100px;
    object-fit: contain;
    display: block;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; 
}


.search-icon {
    width: 20px;
    margin-left: -30px; 
    cursor: pointer;
}

.Text {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

#tillbaka-pil {
    width: 20px;
    transform: translateY(2.5px);
}

.back {
    color: white;
    font-family: helvetica;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.back-container {
    position: relative;
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    margin-right: auto;
}