body {
    background-color: white;
    /*font-family: 'Times new Roman';*/
    height: 100%;  
    margin: 0; 
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; /* Centrerar innehållet horisontellt */
    align-items: center; /* Centrerar innehållet vertikalt */
    height: 100px; /* Justera höjden efter behov */
    background-color: #1B4D3E; /*mörkgrön*/
    /*background-color: #556B27;*/ /*olivgrön*/
    padding: 20px;
}

.Navbar .Logo img {
    height: 50px; /* Justera storleken på logotypen */
}

.Logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Perfekt centrerad logga */
    margin-top: 25px;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; /* Lägg till en hover-effekt på förslagen */
}


.search-icon {
    width: 20px;
    margin-left: -30px; /* Flyttar in ikonen i input-fältet */
    cursor: pointer;
}

.Text {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}