body {
    background-image: url("Bilder/världskarta.svg");
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    height: 100%;
    margin: 0;
    overflow: hidden; 
    position: relative; 
}

/*#afrika-bild { /*png
    position: fixed;  
    top: -33px;
    left: -60px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}*/

#afrika-bild { /*svg*/
    position: fixed;  
    top: -33px;
    left: -54px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}

.enlarged {
    transform: scale(1.1); 
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    /*background-color: #1B4D3E; */
    /*background-color: #3A5F41;*/
    background-color: #2F4F3A;
    /*background-color: #355A3A;*/
    padding: 20px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.Navbar .Logo img {
    height: 80px; 
}

.Logo img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 15px;
    width: auto;
    height: 100px;
    object-fit: contain;
    display: block;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Helvetica;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; 
}


.search-icon {
    width: 20px;
    margin-left: -30px; 
    cursor: pointer;
}

.button {
    /*background-color: #D8C8A3;*/
    /*background-color: #D7C8B7;*/
    /*background-color: #333333;*/
    background-color: #3E6B55;
    width: 300px;
    height: 40px;
    /*border: 1px solid #B39C7D;*/
    border: 1px solid #1B4D3E;
    display: inline-block;
    transition: background-color 0.3s ease;
    position: relative;
    cursor: pointer;
    color: white;
}

.button:hover {
    /*background-color: #B39C7D;*/
    background-color: #1B4D3E;
}

.container {
    display: flex;
}

#continents {
    /*background-color: aquamarine;*/
    width: 21%;
}

#animals {
    /*background-color: red;*/
    width: 79%;
}

#animals {
    margin-top: 150px;
}

.rubrik {
    width: 800px;
    height: 100px;
    display: block;
    margin: 0 auto;
    
}

.child_animals {
    text-align: center; 
}

.djur-container {
    justify-content: center; 
    gap: 40px; 
    margin-bottom: 20px; 
    margin-top: 10px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, 115px); 
}

.djur {
    width: 120px;
    height: 120px;
    object-fit: cover; 
}

.image-container {
    display: inline-block; 
    text-align: center; 
    text-decoration: none;
}

.text-below {
    margin-top: 5px; 
    font-size: 16px; 
    color: #000000; 
}
