body {
    background-image: url("Bilder/Start/världskarta_helfärg_baloo.svg");
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    font-family: 'Helvetica';
    height: 100%;
    margin: 0;
    overflow: hidden; 
    position: relative; 
    
}

/*#afrika-bild { /*png
    position: fixed;  
    top: -33px;
    left: -60px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}*/

#afrika-bild { /*svg*/
    position: fixed;  
    top: -33px;
    left: -54px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}

.enlarged {
    transform: scale(1.1); 
}

#lian1 { /*svg*/
    position: fixed;  
    top: -30px;
    left: -90px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}

#lian2 { /*svg*/
    position: fixed;  
    top: -30px;
    left: -90px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}

#lian3 { /*svg*/
    position: fixed;  
    top: -30px;
    left: -40px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}

#lian4 { /*svg*/
    position: fixed;  
    top: -30px;
    left: -20px;
    width: 108%;
    height: 108%;
    z-index: 1; 
    transition: transform 0.3s ease;
}

.Navbar {
    display: flex;
    position: relative;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    /*background-color: #1B4D3E; */
    /*background-color: #3A5F41;*/
    background-color: #2F4F3A;
    /*background-color: #355A3A;*/
    padding: 20px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.Navbar .Logo img {
    height: 80px; 
}

.Logo img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: 15px;
    width: auto;
    height: 100px;
    object-fit: contain;
    display: block;
}

.Navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 70px;
    margin-right: 40px;
    position: relative;
}

.search-box {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Helvetica;
    padding-right: 30px; 
}

.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0; 
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    width: 250px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0; 
}


.search-icon {
    width: 20px;
    margin-left: -30px; 
    cursor: pointer;
}

.locked {
    color: gray;
    cursor: default;
    opacity: 0.6;
}


@keyframes swing1 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

.swing1 {
    animation: swing1 2s infinite ease-in-out;
    transform-origin: top left; 
}

@keyframes swing2 {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-3deg); }
    50%  { transform: rotate(3deg); }
    75%  { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

.swing2 {
    animation: swing2 2s infinite ease-in-out;
    transform-origin: top left; 
}

@keyframes swing3 {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(2deg); }
    50%  { transform: rotate(-2.5deg); }
    75%  { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

.swing3 {
    animation: swing3 2s infinite ease-in-out;
    transform-origin: top right; 
}

@keyframes swing4 {
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-3deg); }
    50%  { transform: rotate(3deg); }
    75%  { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}

.swing4 {
    animation: swing4 2s infinite ease-in-out;
    transform-origin: top right; 
}